<div class="group_10 column">
  <div class="background column">
    <div class="group_10 column">
      <div class="group_10 column">
        <div class="header row_1">
          <div class="left row_1">
            <img src="/assets/3c54e5ae61c1ca88d38e16b4a3c91eb22cc325e9.png" class="auto-shop_logo" />
            <button igxButton="flat" igxRipple class="auto-body-button">Auto Body Parts</button>
            <button igxButton="flat" igxRipple class="lighting-button">Lighting</button>
            <button igxButton="flat" igxRipple class="button">Engine &amp; Drivetrain</button>
            <button igxButton="flat" igxRipple class="button">Brakes &amp; Suspension</button>
            <button igxButton="flat" igxRipple class="interior">Interior</button>
            <button igxButton="flat" igxRipple class="exterior">EXterior</button>
          </div>
          <div class="right row_1">
            <button igxButton="icon" igxRipple class="button_2">
              <igx-icon>search</igx-icon>
            </button>
            <button igxButton="icon" igxRipple class="button_2">
              <igx-icon>account_circle</igx-icon>
            </button>
            <button igxButton="icon" igxRipple class="button_2">
              <igx-icon>shopping_basket</igx-icon>
            </button>
          </div>
        </div>
        <div class="subheader row_1">
          <div class="group column">
            <img src="/assets/fbeff80c44630a8d3cefde0ed91f7c77e163db31.png" class="auto-deals_logo" />
            <p class="igx-typography__body-1 text_1">Enjoy 20% off on all your weekend purchases</p>
          </div>
          <igx-icon family="material" class="icon_2">mail</igx-icon>
        </div>
        <div class="body column">
          <div class="breadcrumb row_1">
            <a href="url" target="_blank" class="hyperlink"></a>
            <p class="igx-typography__body-1 text_7">/</p>
            <a href="url" target="_blank" class="hyperlink"></a>
            <p class="igx-typography__body-1 text_7">/</p>
            <a href="url" target="_blank" class="hyperlink"></a>
            <p class="igx-typography__body-1 text_7">/</p>
            <a href="url" target="_blank" class="hyperlink"></a>
            <p class="igx-typography__body-1 text_7">/</p>
            <p class="igx-typography__body-1 text_4">Alternator</p>
          </div>
          <div class="product row_1">
            <div class="thumbs column">
              <div class="group_8"></div>
              <div class="group_8"></div>
              <div class="group_8"></div>
            </div>
            <div class="image-large"></div>
            <div class="product-details column">
              <h5 class="product-name">Gold Alternator</h5>
              <div class="ratings row_1">
                <igx-icon family="material" class="icon_1">star</igx-icon>
                <igx-icon family="material" class="icon_1">star</igx-icon>
                <igx-icon family="material" class="icon_1">star</igx-icon>
                <igx-icon family="material" class="icon_1">star</igx-icon>
                <igx-icon family="material" class="icon_1">star_half</igx-icon>
                <a href="url" target="_blank" class="hyperlink"></a>
              </div>
              <h4 class="price">$59.90</h4>
              <p class="igx-typography__subtitle-1 sku">PART #ABC123-456789 | SKU: A1234-01</p>
              <a href="url" target="_blank" class="hyperlink"></a>
              <p class="igx-typography__body-2 description">Generic Brand alternators are engineered to provide the amp output necessary to power today’s vehicles. Every unit is 100% NEW (not remanufactured) and made with proprietary components and processes to ensure maximum life and performance.</p>
              <igx-badge type="success" value="IN STOCK" class="stock-badge"></igx-badge>
              <igx-select type="box" placeholder="Placeholder" class="quantity-select">
                <igx-select-item value="Option">Option</igx-select-item>
                <label igxLabel>Quantity</label>
              </igx-select>
              <p class="igx-typography__body-2 delivery">Select Delivery Option</p>
              <igx-buttongroup alignment="horizontal" class="user-input">
                <button igxButton="flat" igxRipple>Button</button>
                <button igxButton="flat" igxRipple>Button</button>
              </igx-buttongroup>
              <button igxButton="raised" igxRipple class="user-input">
                <igx-icon>shopping_basket</igx-icon>
                <span>ADD TO CART</span>
              </button>
            </div>
          </div>
          <div class="row row_1">
            <div class="left-column column">
              <h5 class="product-specs">Product Specifications</h5>
              <div class="row-1 row_1">
                <p class="igx-typography__body-1 text_5">Part #</p>
                <p class="igx-typography__body-1 right_1">ABC123-456789</p>
              </div>
              <div class="group_7 row_1">
                <div class="group_1 row_1">
                  <p class="igx-typography__body-1 text_5">SKU #</p>
                </div>
                <div class="group_2 row_1">
                  <p class="igx-typography__body-1 right_2">740988</p>
                </div>
              </div>
              <div class="row-3 row_1">
                <p class="igx-typography__body-1 left_1">Weight</p>
                <p class="igx-typography__body-1 right_3">10 lbs</p>
              </div>
              <div class="group_7 row_1">
                <div class="group_3 row_1">
                  <p class="igx-typography__body-1 left_2">Type</p>
                </div>
                <div class="group_4 row_1">
                  <p class="igx-typography__body-1 text_4">Alternator</p>
                </div>
              </div>
              <div class="row-5 row_1">
                <p class="igx-typography__body-1 left_3">System Votage</p>
                <p class="igx-typography__body-1 right_4">12 V</p>
              </div>
              <div class="row-6 row_1">
                <p class="igx-typography__body-1 left_4">Pulleys Included</p>
                <p class="igx-typography__body-1 right_5">2</p>
              </div>
            </div>
            <div class="right-column column">
              <div class="group_5 column">
                <h5 class="product-description">Product Description</h5>
              </div>
              <div class="group_6 column">
                <div class="row-1_1 row_1">
                  <igx-icon family="material" class="icon">check_circle</igx-icon>
                  <p class="igx-typography__body-1 text">Key components are greased to help with long term reliability in harsh conditions</p>
                </div>
                <div class="row-2 row_1">
                  <igx-icon family="material" class="icon">check_circle</igx-icon>
                  <p class="igx-typography__body-1 text_2">Every unit is built with 100% NEW components that are designed to meet the highest quality standards</p>
                </div>
                <div class="row-3_1 row_1">
                  <igx-icon family="material" class="icon">check_circle</igx-icon>
                  <p class="igx-typography__body-1 text_3">Every unit is triple tested (component, subassembly and end of line) to ensure quality and performance</p>
                </div>
                <p class="igx-typography__body-2 text_8">New Alternators are manufactured with all new components and are the ideal high quality replacement for many vehicles on the road today. Key components are lubricated to help with performance and long life reliability. Alternators have regulators that are computer tested for voltage stability, terminal function, and electronic circuit board integrity. These premium aftermarket replacement components are manufactured to meet your expectations for fit, form, and function. Some ACDelco Gold parts may have formerly appeared as ACDelco Professional.</p>
              </div>
            </div>
          </div>
          <h5 class="title">Customers Also Purchased</h5>
          <div class="also-purchased-cards row_1">
            <div class="group_9 column">
              <igx-card type="outlined" class="card">
                <igx-card-media height="194px">
                  <img src="/assets/a510853c521c6146b5b7c03ea7782ac9e31ff3ab.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Highlight Assembly</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$49.50</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card_1">
                <igx-card-media height="194px">
                  <img src="/assets/d35690eabc22dfd929ac9b67a3152b3306b3de05.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Gold Alternator</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$59.90</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="group_9 column">
              <igx-card type="outlined" class="card">
                <igx-card-media height="194px">
                  <img src="/assets/9657def30d9112c43d0312ad89026deaaeb879db.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Winter Tires Set</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$44.50</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card_1">
                <igx-card-media height="194px">
                  <img src="/assets/8a5338718b5fdc6de7cf9e1883b7e7b87e932ef6.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Tail Lamp Assembly</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$19.90</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="group_9 column">
              <igx-card type="outlined" class="card">
                <igx-card-media height="194px">
                  <img src="/assets/c1b0827410af3c00e9f611aeb134f3c8479545f9.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Chrome exhaust pipe</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$34.50</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card_1">
                <igx-card-media height="194px">
                  <img src="/assets/fbfca137ad1115e2119243e7f76630cd4f9f89e9.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Spark Plugs</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$11.00</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="group_9 column">
              <igx-card type="outlined" class="card">
                <igx-card-media height="194px">
                  <img src="/assets/11ad04b52e6693653ba8076068f38a127a8aa207.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Battery</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$24.95</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card_1">
                <igx-card-media height="194px">
                  <img src="/assets/44baeff8c91a12c283c82b2622a3c8c04a733997.png" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Oil Filters</h3>
                  <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="group_11 column">
                    <h5 class="h5">$24.50</h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button_1">ADD TO CART</button>
                </igx-card-actions>
              </igx-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sitemap row_1">
      <div class="column-1 column">
        <p class="igx-typography__subtitle-2 contact-us">Contact Us</p>
        <p class="igx-typography__body-2 street">1234 Street Name, CityName, ST</p>
        <p class="igx-typography__body-2 post-code">10520 United States</p>
        <p class="igx-typography__subtitle-2 phone-number">Phone Number</p>
        <p class="igx-typography__body-2 phone">1-234-567-8901</p>
      </div>
      <div class="column-2 column">
        <p class="igx-typography__subtitle-2 help">Help</p>
        <p class="igx-typography__body-2 faq">FAQ</p>
        <p class="igx-typography__body-2 returns">Returns</p>
        <p class="igx-typography__body-2 couponsdiscounts_2">Coupons&amp;Discounts</p>
        <p class="igx-typography__body-2 shippingreturns">Shipping&amp;Returns</p>
      </div>
      <div class="column-3 column">
        <p class="igx-typography__subtitle-2 about-us">About Us</p>
        <p class="igx-typography__body-2 faq_1">Company Info</p>
        <p class="igx-typography__body-2 returns_2">Press Releases</p>
        <p class="igx-typography__body-2 couponsdiscounts">Careers</p>
        <p class="igx-typography__body-2 shippingreturns_1">Reviews</p>
      </div>
      <div class="column-4 column">
        <p class="igx-typography__subtitle-2 text_6 services">Services</p>
        <p class="igx-typography__body-2 faq_2">Buy Online</p>
        <p class="igx-typography__body-2 text_6 returns_3">In-Store</p>
        <p class="igx-typography__body-2 couponsdiscounts_1">Repair Help</p>
        <p class="igx-typography__body-2 shippingreturns_3">Find a Repair Shop</p>
      </div>
      <div class="column-5 column">
        <p class="igx-typography__subtitle-2 blog">Blog</p>
        <p class="igx-typography__body-2 faq_3">Car Building Basics</p>
        <p class="igx-typography__body-2 returns_1">Do It Yourself</p>
        <p class="igx-typography__body-2 couponsdiscounts_3">Your Home Workshop</p>
        <p class="igx-typography__body-2 shippingreturns_2">Advanced Building</p>
      </div>
    </div>
    <div class="footer row_1">
      <div class="items row_1">
        <p class="igx-typography__body-2 copyright-2021-auto">Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.</p>
        <p class="igx-typography__body-2 terms-of-use">Terms of Use</p>
        <p class="igx-typography__body-2 privacy-policy">Privacy Policy</p>
        <p class="igx-typography__body-2 site-map">Site Map</p>
      </div>
    </div>
  </div>
</div>
